@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;1,400&family=Roboto:ital@1&display=swap');


 .container-main {
    height: 100px;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
} 

/* overlay and navbar styles */

.overlay-header {
    background-color: lightgray;
    height: 75px;
    padding-left: 30px;
    font-size: 1.5em;

}
.overlay-body, #navbar-container{
    background-color: #2F57BE;
    color: white;
}
.nav-items > li {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content:flex-start;
};

.nav-item > .nav-link {
    color: white;
}
.nav-link {
    color: white;
}

.nav-item > .nav-link:hover {
    color: black
};
.search-icon {
    margin-left: 10px;
}
.search-icon:hover {
    cursor: pointer;
    transform: translateY(-2px);
 }

 /* emails list styles  */
 
.email-list {
    margin-bottom: 15px;
    padding: 10px;
    background-color: #cfe2ff;
    box-shadow: 5px 5px 20px 6px grey;
}

.email-list:hover{
    cursor: pointer;
    background-color: lightgray;

 }
/* email body styles */

.icon-list {
    background-color: lightgray;
}
 .icon-list > svg:hover {
   cursor: pointer;
   transform: translateY(2px);
 }
 .email-content {
    height: 100vh;
    border-left: 1px solid lightgray;
}
.btn-email-content:hover {
    background-color: #2F57BE;
}
/* modal styles */
.compose-box {
    background-color: lightgrey;
}
.compose-box-header {
    background-color:lightgray;
}
.compose-box-body {
    font-family: 'Open Sans', sans-serif;
    background-color: #2F57BE;
    color: lightgray;
}
.compose-form input{
   width: 70%;
   padding-left: 2px;
   padding-right: 2px;
   margin-left: 5px;
   border-bottom: 1px solid black;
   margin-bottom: 20px;
   background-color: #2F57BE;
   color: lightgray;
}
.compose-form > textarea {
    width: 100%;
    border-radius: 10px;
    padding: 5px;
    background-color: #cfe2ff;
    color: black;
}
.compose-box button.btn-primary{
    background-color: #2F57BE;
}


/* creates a selected email effect, the contents of which are displayed on the right side of desktop and tablet screens only*/
  
  @media only screen and (min-width: 768px) {
    .email-list:first-child { 
       background-color: lightgray;
       box-shadow: none;
  }

}

/* creates space on either side of search box in a mobile view when screen size <= 500px */
@media only screen and (max-width:500px) {
.search-container {
    margin-left: 5px;
    margin-right: 5px;
}
}
